:root {
    --colorprimario: #1e2233;
    --colorprimarioclaro: #24273d;
    --colorclarito: #343856;
    --colorsecundario: #fb5d55;
    --blanco:#fff;
    --negro:#000;
    --fuenteprincipal: 'Montserrat', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1REM === 10PX **/
}
*, *:before, *:after{
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteprincipal);
    font-size: 1.6rem;
    line-height: 2;
}
/**     GLOBALES     **/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4 {
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
h5{
    font-size: 2rem;
}
img{
    max-width: 100%;
}
p{
    color: var(--blanco);
}
/**        UTILIDADES         **/
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
/**   Header   **/
.header{
    background-image:url(../img/header.webp);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    padding-top: 1rem;
}
.logo1 {
    font-weight: bold;
    font-size: 3.5rem;
    color: var(--colorsecundario);
}
.logo2 {
    color: var(--blanco);
}
.barra {
    display: block;
    text-align: center;
}
@media(min-width:768px){
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navegacion {
        display: flex;
        gap: 1rem;
    }
}

.navegacion_a {
    display: block;
    font-weight: bold;
    color: var(--blanco);
    border: 1px solid transparent;
    padding: 0.8rem;
}
.navegacion_a:hover{
    border: 1px solid var(--colorsecundario);
    border-radius: 5%;
}
.introduccion {
    color: var(--blanco);
}
.stack { 
    font-size: 6rem;
    color: var(--blanco);
}
.saludo2{
    margin-top: 0;
}
.saludo{
    margin-top: 3rem;
    font-weight: normal;
}

@media(min-width:768px){
    .introduccion{
        margin-top: 20rem;
    }
    .stack {
        font-size: 10rem;
    }
    .saludo2{
        margin-top: auto;
    }
}
/***** ACA EMPIEZA EL CONTENIDO   *****/
.contenido_principal{
    background-color: var(--colorprimario);
    padding-top: 10rem;
    padding-bottom: 10rem;  
}
.descripcion{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
   
}
.foto {
    max-width: 90%;
    -webkit-box-shadow: -13px -12px 0px -3px rgba(251,93,85,1);
    -moz-box-shadow: -13px -12px 0px -3px rgba(251,93,85,1);
    box-shadow: -13px -12px 0px -3px rgba(251,93,85,1);
}
.descubre{
    color: var(--colorsecundario);
    margin:0 auto;
}
.sobre_eric{
    margin:0 auto;
    color:var(--blanco);
}
.barra_corta{
    border-top: 1px solid var(--colorsecundario);
    max-width: 8rem;
    margin-top: 2rem;
}
.listas {
    display: flex;
    color: var(--blanco);
    column-gap: 5rem;
    border: 1px solid var(--colorsecundario);
    border-radius:10px;
}
.elementos_lista{
    font-weight: bold;
}
.li{
    font-weight: normal;
}
.boton{
    display: inline-block;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--colorsecundario);
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    
}
/**     FOOTER      **/
.footer{
    display: flex;
    flex-direction: column;
    height: 10rem;
    background-color: var(--colorprimarioclaro);
    align-items: center;
    justify-content: center;
}
.cards{
    display:flex;
    flex-direction: row;
    column-gap: 2rem;
}
.icon-tabler:hover{
    stroke: var(--blanco);
}